replicaCount: 3

image:
  repository: taskin87/lab-microservice
  tag: "57e511f4462a2781b5af94c9423e8d576255ce83"   # pipeline burayı güncelleyecek
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30081

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

env:
  aspnetcoreEnvironment: "Kubernetes"
