replicaCount: 3

image:
  repository: taskin87/lab-microservice
  tag: "d497f43ff66d02081683aba7e87596bdc6c76d55"   # pipeline burayı güncelleyecek
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30081

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

env:
  aspnetcoreEnvironment: "Kubernetes"
