replicaCount: 2

image:
  repository: taskin87/lab-orders-service
  tag: "262464fa42b772109d8ad29f8cbf80df8902cec6"   # pipeline burayı SHA ile güncelleyecek
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30082

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"

env:
  aspnetcoreEnvironment: "Kubernetes"
